*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'WiGuru';
    src: url(font/wiguru-13.ttf) format('truetype');
    font-style: normal;
    font-weight: 900;
}
@font-face{
    font-family: 'Clock';
    src: url(font/digital_counter_7.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Clock Italic';
    src: url(font/digital_counter_7_italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face{
    font-family: 'ClockBomb';
    src: url(font/TickingTimebombBb.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'ClockBombIt';
    src: url(font/TickingTimebombBbItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Gothland';
    src: url(font/Gothland.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'CyrillicCompressed';
    src: url(font/CyrillicCompressed.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'FuturisExtraC';
    src: url(font/FuturisExtraC.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}

body{
    width: 1728px;
    height: 1080px;
    background: url("image/background.jpg") no-repeat;
    background-size: 2110px 1080px;
    font-family: "WiGuru", sans-serif;
}
header{
    max-height: 110px;
    max-width: 1700px;
}

.nickname{
    text-align: center;
}
.nameClever{
    height: 110px;
}
.main{
    padding-right: 8em;
    padding-left: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.units{
    border: 5px outset orangered;
    background: url("image/background-units.png");
    width: 240px;
    height: 240px;
    background-size: 240px 240px;
    text-align: center;
}
.unit{
    width: 100%;
    height: 100%;
}
.price-unit{
    font-size: 62px;
    color: #fff59d;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 0 black,
    2px 2px 0 black,
    3px 3px 0 black,
    4px 4px 0 black,
    5px 5px 0 black,
    6px 6px 0 #fff59d;
    -webkit-text-stroke: 2px black;
    font-family: 'CyrillicCompressed' ;
}
.price{
    height: 24px;
    position: relative;
    left: 0;
    bottom: 70px;
}
#id_clock{
    position: relative;
    left: 1220px;
    bottom: 90px;
    font-size: 80px;
    font-family: "ClockBomb", sans-serif;
    color: black;
    -webkit-text-stroke: 5px #fff59d;
    max-width: 100px;
}
.FixW{
    width: 70%;
}
.FixWHM{
    width: 70%;
    height: 90%;
    margin-top: 23px;
}
.sptv{
    width: 85%;
    height: 90%;
    margin-top: 20px;
}
.speakD{
    width: 85%;
    height: 90%;
    margin-top: 20px;
}
.DJ{
    height: 85%;
    margin-top: 35px;
}
.mechB{
    width: 85%;
}
.oldG{
    width: 80%;
}
.Ded{
    width: 80%;
}
.womanC{
    height: 95%;
    margin-top: 12px;
}